bg-image($url)
  background-image: url($url + "@2x.png")
  @media (-webkit-min-device-pixiel-ratio: 3), (min-device-pixiel-ratio: 3)
    background-image: url($url + "@3x.png")
    
no-wrap()
  text-overflow: ellipsis
  overflow: hidden
  whitespace: nowrap